<header class="app-header">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="logo">
            <div class="logo-icon"></div>
            <p>arcon</p>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
          <div class="round-btn icon-badge transparent-btn mr-8px">
            <span class="material-symbols-rounded">notifications</span>
            <div class="bot-badge secondary"></div>
          </div>
          <div class="main-right">
            <div class="common-avatar" type="button"
            data-toggle="modal"
            data-target="#alertModal">
              <img src="../assets/images/avatar.jpg" />
            </div>
            <span class="material-symbols-rounded">expand_more</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Button trigger modal -->

<!-- Sidebar -->
<div
class="modal fade common-alert-modal"
id="alertModal"
tabindex="-1"
aria-hidden="true"
>
<div class="sidebar-container white-bg">
  <div class="modal-dialog sidebar-outer">
    <div class="sidebar-header">
      <div class="sh-top">
        <h5>Header</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span class="material-symbols-rounded">close</span>
        </button>
      </div>
    </div>

    <div class="sidebar-body">
        <div class="sidebar-outer">
            <div class="sidebar-header">
              <div class="sh-top">
                <div class="sh-top-left">
                  <button class="common-btn tertiary-btn left-icon-btn">
                    <span class="material-symbols-rounded">logout</span>
                    Logout
                  </button>
                </div>
                <div class="sh-top-right">
                  <span class="material-symbols-rounded">close</span>
                </div>
              </div>
              <div class="sh-bottom">
                <div class="sh-bottom-img"></div>
                <div class="sh-bottom-content">
                  <div class="sb-admin-img bg-white">
                    <h5>FL</h5>
                  </div>
                  <h4>Francisca L. Helm</h4>
                  <p>FranciscaLHelm@jourrapide.com</p>
                  <div class="sh-bottom-content-ls">
                    <p>Last Session</p>
                    <span class="material-symbols-rounded ml-3 mr-1">event</span>
                    <p>05/10/2022</p>
                    <span class="material-symbols-rounded ml-3 mr-1">schedule</span>
                    <p>12:49:13</p>
                  </div>
                  <div class="sh-bottom-content-ls">
                    <p>Current Session</p>
                    <span class="material-symbols-rounded ml-3 mr-1">schedule</span>
                    <p>1 hour 20 minute</p>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="sidebar-body">
              <div class="sb-list common-list border-bottom pb-24px">
                <ul>
                  <li class="grey-bg-hover">
                    <span class="material-symbols-rounded">lock_open</span>
                    <p>Change Password</p>
                  </li>
                  <li class="grey-bg-hover">
                    <span class="material-symbols-rounded">mop</span>
                    <p>Clear Local Caches</p>
                  </li>
                  <li class="grey-bg-hover">
                    <span class="material-symbols-rounded">local_library</span>
                    <p>Arcon Learning Center</p>
                  </li>
                </ul>
              </div>
          
              <div class="sb-theme mt-32px">
                <div class="sb-theme-left">
                  <h5>Themes</h5>
                  <ul>
                    <li>
                      <div class="select-color-scheme-outer secondary-bg"></div>
                      <div class="sb-radio-container">
                        <input type="radio" name="radio" />
                        <span></span>
                      </div>
                    </li>
                    <li>
                      <div class="select-color-scheme-outer dark-red-bg"></div>
                      <div class="sb-radio-container">
                        <input type="radio" name="radio" />
                        <span></span>
                      </div>
                    </li>
                    <li>
                      <div class="select-color-scheme-outer grass-green-bg"></div>
                      <div class="sb-radio-container">
                        <input type="radio" name="radio" />
                        <span></span>
                      </div>
                    </li>
                    <li>
                      <div class="select-color-scheme-outer purple-bg"></div>
                      <div class="sb-radio-container">
                        <input type="radio" name="radio" />
                        <span></span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="sb-theme-right">
                  <h5>Day/Night</h5>
                  <div class="sb-theme-right-outer">
                    <div class="switch-container">
                      <input type="checkbox" />
                      <span class="slider round"></span>
                    </div>
                    <span class="material-symbols-rounded">dark_mode</span>
                  </div>
                </div>
              </div>
          
              <div class="sb-fonts mt-32px">
                <h5>Font Size</h5>
          
                <div class="sb-fonts-outer">
                  <div class="radio-outer">
                    <label>14 Pixel</label>
                    <div class="radio-container">
                      <input type="radio" name="font-size" />
                      <span></span>
                    </div>
                  </div>
                  <div class="radio-outer">
                    <label>16 Pixel</label>
                    <div class="radio-container">
                      <input type="radio" name="font-size" />
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="sidebar-footer white-bg">
      <div class="sidebar-footer-inner border-top">
        <button
          type="button"
          class="common-btn tertiary-btn"
          data-dismiss="modal"
        >
          Disagree
        </button>
        <button type="button" class="common-btn primary-btn">Agree</button>
      </div>
    </div>
  </div>
</div>
</div>


<div class="common-accordion" id="accordionSlide">
    <div class="card">
      <div class="card-header white-bg" id="headingOne">
        <h6
          onclick="accordionIconChange()"
          id="accordionIconChange"
          class="show"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <span class="material-symbols-rounded accordion-add-icon">add</span>
          <span class="material-symbols-rounded accordion-remove-icon">
            remove
          </span>
          Collapsible Group Item #1
        </h6>
      </div>
  
      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordionSlide"
      >
        <div class="card-body white-bg">
          <p>
            Some placeholder content for the first accordion panel. This panel is
            shown by default, thanks to the class.
          </p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h6
          onclick="accordionIconChange()"
          id="accordionIconChange"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <span class="material-symbols-rounded accordion-add-icon">add</span>
          <span class="material-symbols-rounded accordion-remove-icon">
            remove
          </span>
          Collapsible Group Item #2
        </h6>
      </div>
  
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSlide"
      >
        <div class="card-body">
          <p>
            Some placeholder content for the second accordion panel. This panel is
            hidden by default.
          </p>
        </div>
      </div>
    </div>
  </div>